{% extends "layouts/table_layout.html" %}

{% block title_table %}
<h2 style="color: white;">Creators List</h2> 
{% endblock %}

{% block body_table %}
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth Country</th>
            <th>Birth Date</th>
            <th>Death Date</th>
        </tr>
    </thead>
    <tbody>
        {% for creator in creatorlist %}
        <tr>
            <td>{{ creator.creator_fname }}</td>
            <td>{{ creator.creator_lname }}</td>
            <td>{{ creator.birth_country }}</td>
            <td>{{ creator.birth_date }}</td>
            <td>{{ creator.death_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
